{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
        {% comment %} {% block title  %}
        (dafault value) chai 
        {% endblock  %} {% endcomment %}
        
        {% block title %}
         Home Page
        {% endblock  %}
    </title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    {% tailwind_css %}

</head>
<body>
    <nav class="bg-gray-800 text-white px-4 py-3 flex justify-between items-center">
        <!-- Logo -->
        {% comment %} <div class="text-xl font-bold">
            My Website
        </div> {% endcomment %}
        <!-- Menu Items -->
        <ul class="flex space-x-6 m-2 justify-between">
            <li><a href="" class="hover:text-gray-300 m-2">Home</a></li>
            <li><a href="about/" class="hover:text-gray-300 m-2">About</a></li>
            <li><a href="services" class="hover:text-gray-300 m-2">Services</a></li>
            <li><a href="contact/" class="hover:text-gray-300 m-2">Contact</a></li>
        </ul>
    </nav>

    {% block content %}
    
    {% endblock  %}
</body>
</html>